<template>
  <ul style="width: 100px; position: fixed; left: 0; top: 200;">
    <li><router-link to="/">home</router-link></li>
    <li><router-link to="/list">vue3 list</router-link></li>
    <li><router-link to="/report">vue3  report</router-link></li>
    <li><router-link to="/vue2">vue2</router-link></li>
  </ul>
  <div style="margin-left: 200px;">
    <RouterView v-slot="{ Component }">
      <KeepAlive :includes="['AppLegacy']">
        <component :is="Component" />
      </KeepAlive>
    </RouterView>
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
