<template>
  <div>
   vue3 home
  </div>
</template>

<script>
import { onMounted } from 'vue'

export default {
  setup () {
    onMounted(() => {
      console.log('vue3 Home mounted')
    })
  }
}
</script>

<style lang="scss" scoped>

</style>