<script>
import { defineComponent, h, ref, unref, onMounted, onDeactivated, onUnmounted, onActivated } from 'vue';
import appLegacy from '@vue2/App';

export default {
  name: 'AppLegacy',
  setup() {
    const container = ref();

    onMounted(() => {
      appLegacy.mount(unref(container));
      console.log('AppLegacy isMounted ===', appLegacy);
    });

    onUnmounted(() => {
      appLegacy.unmount();
      console.log('AppLegacy unMounted ===', appLegacy);
    });

    // vue2 $mount 会替换掉挂载点
    return () => h(
      'div',
      // { id: 'app-legacy' },
      h('div', { ref: container }),
    )
  }
}

</script>

<style lang="scss" scoped>
</style>