<template>
  <div>
    vue2 List
    <div>
      authStore from vue3: {{ authStore.$state }}

    </div>
  </div>
</template>


<script>
import { useAuthStore } from '@vue3/stores'
import { computed, getCurrentInstance, reactive, unref } from 'vue-demi'
export default {
  setup() {
    console.log(getCurrentInstance())
    const authStore = useAuthStore()

    return {
      authStore
    }
  },
  created() {
    console.log(this.$store.state)
  }
}
</script>

<style lang="scss" scoped>
</style>