<template>
  <div>
    vue2 Report

    1  + 1 = {{add(1, 1)}}

    <div>
      vuex store: {{ $store.state }}
    </div>
   </div>
</template>

<script>
import { add } from '@vue2/utils'
export default {
  setup () {


    return {
      add
    }
  }
}

</script>

<style lang="scss" scoped>

</style>