<template>
  <div>
    vue3 List
    <div>
      authStore from vue3: {{ authStore.$state }}
    </div>
  </div>
</template>


<script>
import { useAuthStore } from '@vue3/stores'
import { computed, getCurrentInstance, reactive, unref } from 'vue'
export default {
  setup() {
    console.log(getCurrentInstance())
    const authStore = useAuthStore()

    console.log(' vue3 List getCurrentInstance', getCurrentInstance())

    return {
      authStore
    }
  },
}
</script>

<style lang="scss" scoped>
</style>