<template>
  <div>
    vue3 Report
   </div>
</template>

<script>
// import { add } from '@/utils'
import { getCurrentInstance } from 'vue'
export default {
  setup () {

    console.log('  vue3 Report getCurrentInstance', getCurrentInstance())

    return {
      // add
    }
  }
}

</script>

<style lang="scss" scoped>

</style>